TetrisUnity.sln
.vs/TetrisUnity/xs/UserPrefs.xml
.vs/TetrisUnity/xs/sqlite3/db.lock
.vs/TetrisUnity/xs/sqlite3/storage.ide
.vs/TetrisUnity/xs/sqlite3/storage.ide-shm
obj/Assembly-CSharp.csprojAssemblyReference.cache
